<ion-view title="Actualizar Precio" id="page5">
    <ion-content padding="true" class="has-header">
        <div id="actualizarPrecio-markdown9" style="color:#000000;">
            <p>Producto:</p>
            <p id="lblProducto"></p>
        </div>
        <form id="actualizarPrecio-form2" class="list">
            <label class="item item-input" id="actualizarPrecio-input4" name="txtPrecio">
                <span class="input-label">Precio:</span>
                <input type="text" placeholder="" id="txtPrecio">
            </label>
        </form>
        <a ng-click="guardar()" id="actualizarPrecio-button7" class="button button-positive  button-block">Guardar</a>
    </ion-content>
</ion-view>