<ion-view title="Nuevo Supermercado" id="page2">
    <ion-content padding="true" class="has-header">
        <form id="nuevoSupermercado-form1" class="list">
            <label class="item item-input" id="nuevoSupermercado-input1" name="txtNombre">
                <span class="input-label">Nombre:</span>
                <input type="text" placeholder="" ng-model="txtNombre">
            </label>
            <label class="item item-input" id="nuevoSupermercado-input2" name="txtLatitud">
                <span class="input-label">Latitud:</span>
                <input type="text" placeholder="" id="txtLatitud">
            </label>
            <label class="item item-input" id="nuevoSupermercado-input3" name="txtLongitud">
                <span class="input-label">Longitud:</span>
                <input type="text" placeholder="" id="txtLongitud">
            </label>
        </form>
        <a ng-click="guardar()" id="nuevoSupermercado-button2" class="button button-positive  button-block">Guardar</a>
    </ion-content>
</ion-view>