<ion-view title="Producto" id="page4">
    <ion-content padding="true" class="has-header">
        <div style="color:#000000;" ng-model="producto.descripcion">
            <p id="txtDescripcion"  name="descripcion.value">Descripción:</p>
        </div>
        <div style="margin: 0px; line-height: 250px; background-color: rgb(232, 235, 239); text-align: center;" id="divConteImg">
            <!--<i class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" id="imgProd"></i>-->
            <img class="icon ion-image" style="font-size: 64px; color: rgb(136, 136, 136); vertical-align: middle;" id="imgProd"/>
        </div>
        <div style="color:#000000;" ng-model="producto.uMedida">
            <p id="txtUnidadMedida"  name="uMedida.value">Unidad de Medida:</p>
        </div>
        <div style="color:#000000;" ng-model="producto.tamanio">
            <p id="txtTamanio" name="tamanio.value">Tamaño:</p>
        </div>
        <div style="color:#000000;" ng-model="producto.precio">
            <p id="txtPrecio"  name="precio.value">Precio:</p>
        </div>
        <div style="color:#000000;" ng-model="producto.precio1">
            <p id="txtPrecio1" name="precio1.value">Precio Cercano:</p>
        </div>
        <div style="color:#000000;" ng-model="producto.precio2">
            <p id="txtPrecio2" name="precio2.value">Precio Cercano 2:</p>
        </div>
    </ion-content>
</ion-view>