<ion-view title="Seleccionar accion" id="seleccionarAcciones">
    <ion-content padding="true" class="has-header">
        <div id="seleccionarAcciones-markdown10" style="color:#081174;font-size:20px;">
            <p>Seleccione un supermercado</p>
        </div>
        <form id="seleccionarAcciones-form4" class="list">
            <label class="item item-select" id="seleccionarAcciones-select2">
                <span class="input-label">Supermercado</span>
                <select id="selSupermercado">
                    <option value="-1"></option>
                </select>
            </label>
        </form>
        <a id="seleccionarAcciones-button10" class="button button-positive  button-block" ng-click="producto()">Producto</a>
        <a id="seleccionarAcciones-button11" class="button button-positive  button-block"  ng-click="nuevoSupermercado()">Nuevo Supermercado</a>
    </ion-content>
</ion-view>