<ion-view title="TP4" id="page1">
    <ion-content padding="true" class="has-header">
        <div id="tP4-markdown2" style="color:#000000;">
            <p>IP Server</p>
        </div>
        <form id="tP4-form1" class="list">
            <label class="item item-input" id="tP4-input1">
                <span class="input-label" id="mensaje">Ingrese una IP...</span>
                <input type="tel" placeholder="" name="txtIP" id="txtIP" ng-model="txtIP">
            </label>
        </form>
        <a id="tP4-button1" class="button button-positive  button-block" ng-click="conectar()">Conectar</a>
    </ion-content>
</ion-view>